{% extends 'app.html' %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Início</a></li>
    <li><a href="#">Minhas Atividades</a></li>
    <li class="is-active"><a href="#" aria-current="page">Propor Atividade</a></li>
  </ul>
</nav>
<div style="padding: 3rem 2vw 1rem">
  <div class="b-steps">
    <nav class="steps is-sucess">
      <ul class="step-items">
        <li class="step-item is-success is-active">
          <a class="step-link">
            <div class="step-marker">
              <span class="icon">
                <i class="mdi mdi-flask mdi-24px"></i>
              </span>
            </div>
            <div class="step-details">
              <span class="step-title">Atividade</span>
            </div>
          </a>
        </li>
      </ul>
    </nav>
    <section class="step-content">
      <div class="step-item">
      <div style="padding: 1rem 2vw 0px">
          <hr />
          <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
            Informação de atividade
          </h2>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Nome da Atividade</label>
                <div class="control">
                  <input class="input" type="text" >
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Tipo de Atividade</label>
                <div class="control is-expanded">
                  <div class="select is-fullwidth is-empty">
                    <select>
                      <option>Atividade Laboratorial</option>
                      <option>Palestra</option>
                      <option>Tertúlia</option>
                    </select>
                  </div>
                </div>
            </div>
          </div>
          </div>
          <div class="columns">
            <div class="column">
            <div class="field">
              <label class="label">Descrição</label>
              <div class="control">
                <textarea maxlength="300" class="textarea"></textarea>
              </div>
            </div>
          </div>
        </div>
        <hr/>
      </div>
    </div>
    <div class="step-item" style="display:none">
      <div style="padding: 1rem 2vw 0px">
          <hr />
          <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
            Informação de atividade
          </h2>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Nome da Atividade</label>
                <div class="control">
                  <input class="input" type="text" >
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Tipo de Atividade</label>
                <div class="control is-expanded">
                  <div class="select is-fullwidth is-empty">
                    <select>
                      <option>Atividade Laboratorial</option>
                      <option>Palestra</option>
                      <option>Tertúlia</option>
                    </select>
                  </div>
                </div>
            </div>
          </div>
          </div>
          <div class="columns">
            <div class="column">
            <div class="field">
              <label class="label">Descrição</label>
              <div class="control">
                <textarea maxlength="300" class="textarea"></textarea>
              </div>
            </div>
          </div>
        </div>
        <hr/>
      </div>
    </div>
    </section>
    <div class="column is-8 is-offset-2">
      <div class="level">
        <div class="level-left">
          <a class="button is-outlined" type="button">
            <span>Cancelar</span>
          </a>
        </div>
        <div class="level-right">
          <a class="button is-large is-success is-outlined" type="button">
            <span>Próximo</span>
            <span class="icon is-medium">
              <i class="mdi mdi-forward mdi-36px"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .label {
  font-weight: normal;
}
.b-steps .steps .step-items .step-item .step-details .step-title {
  font-size: 1rem;
}
</style>
<script>

</script>
{% endblock content %}